<%- include('../partials/header') %>

<h1>Witamy na stronie ptaków</h1>
<% if(currentUser) { %>
        <p>Witaj, <%= currentUser.username %>!</p>
    <% } else { %>
        <p>Nie jesteś zalogowany.</p>
    <% } %> 
<p>Oto lista ptaków:</p>
<ul>
    <% birds.forEach(bird => { %>
        <li>
            <div class="bird-info">
                <b><a href="/birds/<%= bird._id %>/view"><%= bird.name %></a></b>
                <small class="overall-size"><%= bird.overallSize %></small>
            </div>
            <div class="actions">
                <% if(currentUser && bird.addedBy && currentUser.username.trim() === bird.addedBy.trim()) { %>
                    <a href="/birds/<%= bird._id %>/edit">Edytuj</a>
                    <form action="/birds/<%= bird._id %>/delete" method="POST" class="inline-form">
                        <button type="submit">Usuń</button>
                    </form>
                <% } else { %>
                    Zaloguj się, aby edytować lub usuwać ptaki.
                <% } %>
            </div>
        </li>
    <% }) %>
</ul>

<h2>Filtruj ptaki</h2>
<form method="GET" action="/">
    <label for="name">Nazwa ptaka:</label><br>
    <input type="text" name="name" placeholder="Nazwa ptaka">
     <label for="diet">Dieta:</label>
     <select name="diet" required>
        <option value="Wyszystko" >Wyszystko</option>
        <option value="Roślinożerca">Roślinożerca</option>
        <option value="Mięsożerca">Mięsożerca</option>
        <option value="Wszystkożerca">Wszystkożerca</option>
    </select> <br>

    <label for="sort">Sortuj według:</label>
    <select name="sort">
        <option value="createdAt">Data dodania</option>
        <option value="overallSize">Ogólna wielkość</option>
    </select>
    <select name="order">
        <option value="desc">Malejąco</option>
        <option value="asc">Rosnąco</option>
    </select>
    <br>

    <button type="submit">Filtruj</button>
</form>
<%- include('../partials/footer') %>
