<%- include('../../partials/header') %>

<h2>Edytuj</h2>
<form action="/birds/<%= bird._id%>/edit" method="POST">
    <label for="name">Nazwa ptaka:</label><br>
    <input type="text" name="name" placeholder="Nazwa ptaka" value="<%= bird.name %>" required><br>
    <label for="overallSize">Ogólna wielkość (W cm):</label>
    <input type="number" name="overallSize", placeholder="Ogólna wielkość (W cm)" value="<%= bird.overallSize %>" required> <br>
    <label for="spanOfWings">Rozpiętość skrzydeł (W cm):</label>
    <input type="number" name="spanOfWings" placeholder ="Rozpiętość skrzydeł" value="<%= bird.spanOfWings %>" required> <br>   
    <label for="formOfMovement">Forma poruszania się: (Przytrzymać ctrl aby wybrać więcej niż jedną opcję)</label><br>
    <select name="formOfMovement" multiple required>
        <option value="Pływanie">Pływanie</option>
        <option value="Chodzenie">Chodzenie</option>
        <option value="Latanie">Latanie</option>
    </select> <br>
    <label for="diet">Dieta:</label>
     <select name="diet" required>
        <option value="Roślinożerca">Roślinożerca</option>
        <option value="Mięsożerca">Mięsożerca</option>
        <option value="Wszystkożerca">Wszystkożerca</option>
    </select> <br>
    <button type="submit">Zapisz</button>
</form>
<%- include('../../partials/footer') %>
