<%- include('../../partials/header') %>

<h2>Nazwa osobnika: <%= bird.name %></h2>
Szerokość skrzydeł: <%= bird.spanOfWings %>cm<br>
Forma poruszania się: <%= bird.formOfMovement %><br>
Ogólna wielkość: <%= bird.overallSize %>cm<br>
Dieta ptaka: <%= bird.diet %><br>
Dodane przez: <%= bird.addedBy %><br>


<%- include('../../partials/footer') %>
