<%- include('../../partials/header') %>

<h2>Nazwa osobnika: <%= bird.name %></h2>
Szerokość skrzydeł: <%= bird.spanOfWings %><br>
Forma poruszania się: <%= bird.formOfMovement %><br>
Ogólna wielkość: <%= bird.overallSize %><br>
Dieta ptaka: <%= bird.diet %>


<%- include('../../partials/footer') %>
